# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.loccal

# Backend
backend/__pycache__/
backend/*.pyc
backend/.env


# OS
.DS_Store
Thumbs.db

.Zone.Identifier
Windows Zone Identifier
